<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.mono.studydb.dao.MusicChainDao">
    <resultMap id="songResultMap" type="co.kr.mono.studydb.model.music.Song">
        <id column="album_id" property="albumId" jdbcType="VARCHAR" />
        <id column="song_name" property="songName" jdbcType="VARCHAR" />
        <result column="play_time" property="playTime" jdbcType="BIGINT" />
        <!-- 실행시 albumResultMap의 collection을 주석으로 막고 실행해야함 cycle생김 -->
      <!-- <association column="album_id" property="album" select="selectAlbumByPrimaryKey" />-->
       <!--<association column="mst_id" property="artist" select="selectAlbumByPrimaryKey" />-->
    </resultMap>

    <resultMap id="artistResultMap" type="co.kr.mono.studydb.model.music.Artist">
        <id column="mst_id" property="mstId" jdbcType="VARCHAR" />
        <result column="mst_name" property="mstName" jdbcType="VARCHAR" />
        <result column="debut_date" property="debutDate" jdbcType="VARCHAR" />
        <collection column="mst_id" property="album"
                    javaType="java.util.ArrayList" ofType="co.kr.mono.studydb.model.music.Album"
                    select="selectAlbumByPrimaryKey" />
    </resultMap>

    <resultMap id="albumResultMap" 	type="co.kr.mono.studydb.model.music.Album">
        <id column="album_id" property="albumId" jdbcType="VARCHAR" />
        <result column="album_seq" property="albumSeq"	jdbcType="INTEGER" />
        <result column="album_title" property="albumTitle"	jdbcType="VARCHAR" />
        <result column="open_date" property="openDate"	jdbcType="VARCHAR" />
       <!-- <association column="mst_id" property="artist" 	select="selectArtistByPrimaryKey" />-->
        <collection column="album_id" property="songs"
                    javaType="java.util.ArrayList" ofType="co.kr.mono.studydb.model.music.Song"
                    select="selectSongByAlbumKey" />
    </resultMap>



    <!-- collection property : 변수명 ofType : return type column : parameter (2개
        이상일땐 column="{prop1=COLUMN1, prop2=COLUMN2}" javaType : return collection
        Type -->

    <select id="selectSongByAlbumKey" resultMap="songResultMap"	parameterType="java.lang.String">
        SELECT ALBUM_ID
              ,SONG_NAME
              ,PLAY_TIME
        FROM SONG
        WHERE ALBUM_ID =#{album_id,jdbcType=VARCHAR}
    </select>

    <select id="selectArtistByPrimaryKey" resultMap="artistResultMap" parameterType="java.lang.String">
        SELECT MST_ID
              ,MST_NAME
              ,DEBUT_DATE
        FROM ARTIST
        WHERE MST_ID =#{mst_id,jdbcType=VARCHAR}
    </select>

    <select id="selectAlbumByPrimaryKey" resultMap="albumResultMap"	parameterType="java.lang.String">
        SELECT ALBUM_ID
              ,MST_ID
              ,ALBUM_SEQ
              ,ALBUM_TITLE
              ,OPEN_DATE
        FROM ALBUM
        WHERE MST_ID =#{album_id,jdbcType=VARCHAR}
        <!--WHERE ALBUM_ID =#{album_id,jdbcType=VARCHAR}-->
    </select>

</mapper>
